*, *::before, *::after {
	box-sizing: border-box;
}

.btn {
    background: blue;
    color: #fff;
}

/*Navigation*/

.top {
    text-align: center;
    padding-left: 50%;
}

/*first photo*/
.card {
    position: relative;
}


.first-words-body {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

.first-words {
    text-align: center;
}


.first-card-image {
    width: 100%;
    height: 100%;
}

.fire {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0%;
    padding: 0%;
    object-fit: cover;
}

/*two-container*/

.second-words {
    text-align: center;
    padding: 20px;
}

.second-blok {
    text-align: center;
    padding: 20px;
}

.second-blok i {
    font-size: 30px;
    width: 60px;
    length: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: red;
}

/*Three-container*/

.three-container {
    background: #b2bec3;
}

.secound-columns {
    text-align: center;
    padding: 20px;
}

.second-card-body-wrods {
    text-align: center;
}

.row-six {
    margin:20px;
}

/*Footer*/

.footer {
    background-color: #fff;
    margin: 0;
}
.social .icon {
    font-size: 0px;
    list-style: none;
    display: inline;
}

.social .icon .fab {
    font-size: 30px
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }