.btn {
    background: blue;
    color: #fff;
}



/*Carousel*/

.carousel-inner, .carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Columns*/

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Three columns*/

.three-columns-text, .three-columns-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.three-photo {
    height: 100%;
    flex-direction: column;
    width: 100%;
}

/*Almost End*/

.almost-end, .card-end {
    background: #eff2f5;
}

.icon {
    list-style: none;
    display: inline-block;
    font-size: 0;
}

.social .icon .fab {
    font-size: 20px
}

/*Footer*/

.footer {
    background: grey;
}
    
.icon-footer {
    list-style: none;
    display: inline-block;;
}

.row-end {
    background: grey;
}